################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetIdentityUserManagerFactory/obj/Debug
